:root {
  --firstColor: #000000;
  --secondColor: #fff;
  --thirdColor: #2c8ec7;
  --fourthColor: ##000000e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--firstColor);
}

a,
i,
img {
  display: block;
}

.center {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
header nav {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 0;
  margin-top: 2rem;
  border-radius: 10rem;
  background-color: var(--fourthColor);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
}
header nav .menu {
  display: none;
}
header nav .logo {
  margin: 0 1rem;
}
header nav a {
  color: var(--secondColor);
  font-size: 2rem;
  font-family: aladin, sans-serif;
  transition: 0.5s all;
}
header nav a:hover {
  transform: scale(1.2);
}
header nav a span {
  color: var(--thirdColor);
}
header nav i {
  color: var(--secondColor);
  font-size: 2rem;
  opacity: 0.6;
}
header nav ul {
  font-size: 0;
  display: flex;
  gap: 2rem;
}
header nav ul li a {
  font-size: 1.2rem;
}
header nav ul li a:hover {
  color: var(--thirdColor);
}

main.index section {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  color: var(--secondColor);
}
main.index section .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 45%;
  text-align: center;
}
main.index section .text h2 {
  font-size: 2rem;
}
main.index section .text a {
  color: var(--secondColor);
  background-color: var(--thirdColor);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.5s all;
  justify-self: center;
  animation: neon 3s infinite linear;
}
main.index section .text a:hover {
  transform: scale(1.1);
}
main.index section .image {
  width: 40%;
}
main.index section .image img {
  animation: plane 5s infinite linear;
  width: 100%;
  filter: drop-shadow(0 0 0.5rem var(--secondColor));
}
main.index section.reverse {
  flex-direction: row-reverse;
}

.prestations {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.prestations section {
  color: var(--secondColor);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.prestations section h2 {
  font-size: 2rem;
  text-align: center;
}
.prestations section img {
  border-radius: 1.5rem;
}
.prestations section a {
  text-transform: uppercase;
  color: var(--secondColor);
  background-color: var(--thirdColor);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.5s all;
  justify-self: center;
  animation: neon 3s infinite linear;
}
.prestations section a:hover {
  transform: scale(1.1);
}
.prestations .clients h2 {
  width: 80%;
  border-bottom: 1px solid var(--thirdColor);
  margin: 0 auto;
}
.prestations .clients .bloc {
  display: flex;
  gap: 2.5rem;
}
.prestations .clients .bloc .commentaire {
  border: 0.1rem solid #2c8ec7;
  border-radius: 1.5rem;
  padding: 0.8rem;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  transition: 0.5s all;
  animation: neon 3s infinite linear;
}
.prestations .clients .bloc .commentaire:hover {
  transform: scale(1.1);
}
.prestations .clients .bloc .commentaire .auteur {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.prestations .clients .bloc .commentaire .note {
  display: inline-block;
  color: gold;
}
.prestations .clients .bloc .commentaire .photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 0.8rem;
}
.prestations .clients .bloc .commentaire .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.portfolio section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}
main.portfolio section .textAndCarousel {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
main.portfolio section .textAndCarousel .text {
  width: 50%;
  text-align: center;
  align-items: center;
}
main.portfolio section .textAndCarousel .text h2,
main.portfolio section .textAndCarousel .text p {
  color: var(--secondColor);
}
main.portfolio section .textAndCarousel .text h2 {
  font-size: 2rem;
}
main.portfolio section .textAndCarousel .text p {
  margin-top: 5%;
}
main.portfolio section .textAndCarousel .text .technologie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
main.portfolio section .textAndCarousel .text .iconify {
  margin-top: 5%;
  font-size: 2.5rem;
}
main.portfolio section a {
  color: var(--secondColor);
  background-color: var(--thirdColor);
  width: -moz-max-content;
  width: max-content;
  margin: 2% auto 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.5s all;
  justify-self: center;
  animation: neon 3s infinite linear;
}
main.portfolio section a:hover {
  transform: scale(1.1);
}
main.portfolio .anime {
  margin-top: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
}
main.portfolio .anime .globe {
  animation: globe 10s infinite linear;
  width: 15%;
  margin: 0 auto;
}

.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  opacity: 0.9;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure img:nth-child(2) {
  transform: rotateY(0.7853981634rad);
}
.carousel figure img:nth-child(3) {
  transform: rotateY(1.5707963268rad);
}
.carousel figure img:nth-child(4) {
  transform: rotateY(2.3561944902rad);
}
.carousel figure img:nth-child(5) {
  transform: rotateY(3.1415926536rad);
}
.carousel figure img:nth-child(6) {
  transform: rotateY(3.926990817rad);
}
.carousel figure img:nth-child(7) {
  transform: rotateY(4.7123889804rad);
}
.carousel figure img:nth-child(8) {
  transform: rotateY(5.4977871438rad);
}
.carousel .carouselBtn {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel .carouselBtn button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: var(--secondColor);
  background: none;
  border: 2px solid var(--thirdColor);
  border-radius: 1.5rem;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: 0.5s all;
}
.carousel .carouselBtn button:hover {
  transform: scale(1.1);
}

main.contact .icon {
  margin: 20% 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.contact .icon img {
  width: 10rem;
  animation: plane 10s infinite linear;
}
main.contact .icon .text {
  color: var(--secondColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
}
main.contact .icon .text p i {
  color: var(--thirdColor);
  font-size: 2rem;
  margin-right: 1%;
}
main.contact .formulaireContact {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 90%;
  margin: 0 auto;
}
main.contact .formulaireContact .form1 {
  width: 40%;
  color: var(--secondColor);
}
main.contact .formulaireContact .form1 p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main.contact .formulaireContact .form1 input {
  border-radius: 1rem;
  background-color: var(--firstColor);
  border: solid var(--thirdColor);
  outline: none;
  color: var(--secondColor);
  font-size: 1.2rem;
  padding: 0.7rem;
  width: 80%;
  margin: 0 auto 3%;
}
main.contact .formulaireContact .form1 textarea#message {
  background-color: var(--firstColor);
  color: var(--secondColor);
  border: solid var(--thirdColor);
  outline: none;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
}
main.contact .formulaireContact .form1 .check {
  display: flex;
  align-items: center;
  margin: 3% 0;
  gap: 3%;
}
main.contact .formulaireContact .form1 .check input {
  width: 5%;
  margin: 0;
}
main.contact .formulaireContact .form1 .check p {
  text-align: left;
}
main.contact .formulaireContact .form1 a {
  color: var(--secondColor);
  background-color: var(--thirdColor);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  transition: 0.5s all;
  justify-self: center;
  animation: neon 3s infinite linear;
}
main.contact .formulaireContact .form1 a:hover {
  transform: scale(1.1);
}
main.contact .faq {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;
}
main.contact .faq h2 {
  font-size: 2.5rem;
  color: var(--secondColor);
}
main.contact .faq .ligne {
  display: block;
  width: 60%;
  height: 0.1rem;
  background-color: var(--thirdColor);
  margin: 0 auto;
}
main.contact .faq .questionsFaq {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--secondColor);
  margin-bottom: 1.5rem;
}
main.contact .faq p {
  font-size: 1rem;
  color: var(--thirdColor);
  width: 60%;
  margin: 0 auto;
}

footer {
  color: var(--secondColor);
  display: flex;
  width: 100%;
  margin: 5% auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
footer nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  border-radius: 10rem;
  background-color: var(--fourthColor);
  box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}
footer nav a {
  filter: drop-shadow(0 0 0.5rem var(--secondColor));
  animation: neon-2 4s infinite linear;
}
footer nav a:hover {
  animation: none;
}

@keyframes plane {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes neon {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 0.8rem 0 var(--secondColor);
  }
  100% {
    box-shadow: none;
  }
}
@keyframes neon-2 {
  0% {
    filter: drop-shadow(0 0 0 0rem);
  }
  50% {
    filter: drop-shadow(0 0 0 0 var(--secondColor));
  }
  100% {
    filter: drop-shadow(0 0 0 0rem);
  }
}
@keyframes globe {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(40vw) rotate(720deg);
  }
  75% {
    transform: translateX(-40vw) rotate(-720deg);
  }
}
@media screen and (max-width: 940px) {
  html {
    font-size: 16px;
  }
  header nav {
    min-width: 10rem;
  }
  header nav a {
    font-size: 1.2rem;
  }
  header nav ul {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transform: translateY(-10rem);
    transition: 1s all;
    width: -moz-max-content;
    width: max-content;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--thirdColor);
    background-color: rgba(0, 0, 0, 0.9019607843);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
  }
  header nav ul li a {
    color: var(--thirdColor);
    font-size: 1.2rem;
  }
  header nav .menu {
    display: block;
  }
  header nav .menu p {
    color: var(--secondColor);
    font-family: aladin, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s all;
  }
  header nav .menu p:hover {
    transform: scale(1.2);
  }
  header .active .menu p {
    color: var(--thirdColor);
  }
  header .active ul {
    transform: translateY(7.5rem);
  }
  main.index section,
  main.index section.reverse {
    flex-direction: column-reverse;
    margin-top: 20%;
  }
  main.index section .text,
  main.index section.reverse .text {
    width: 80%;
  }
  main.index section .text h2,
  main.index section.reverse .text h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  main.index section .text a,
  main.index section.reverse .text a {
    font-size: 0.8rem;
  }
  main.prestations h2 {
    font-size: 1.5rem;
  }
  main.prestations a {
    font-size: 0.8rem;
  }
  main.prestations .clients .bloc {
    flex-direction: column;
  }
  main.prestations .clients .bloc .commentaire {
    width: 80%;
  }
  main.portfolio section {
    flex-direction: column;
  }
  main.portfolio section .textAndCarousel {
    flex-direction: column;
  }
  main.portfolio section .textAndCarousel .text {
    width: 90%;
  }
  main.portfolio section .textAndCarousel .text h2 {
    font-size: 1.5rem;
  }
  main.portfolio section .textAndCarousel .text .iconify {
    font-size: 25px;
  }
  main.portfolio section .textAndCarousel .carousel {
    width: 100%;
    margin-bottom: 10%;
  }
  main.portfolio section .textAndCarousel .carousel figure img {
    opacity: 1;
  }
  main.portfolio section .reverse-2 {
    flex-direction: column-reverse;
  }
  main.portfolio section a {
    font-size: 0.8rem;
  }
  main.contact section.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  main.contact section.icon img {
    width: 40%;
    margin: 0 auto;
  }
  main.contact section.icon p {
    font-size: 0.9rem;
  }
  main.contact .formulaireContact {
    display: flex;
    flex-direction: column;
  }
  main.contact .formulaireContact img {
    margin: 0 auto;
    width: 60%;
  }
  main.contact .formulaireContact .form1 {
    margin: 0 auto;
    width: 100%;
  }
  main.contact .formulaireContact .form1 p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  main.contact .formulaireContact .form1 input {
    font-size: 1rem;
    height: 1rem;
  }
  main.contact .formulaireContact .form1 textarea#message {
    height: 10rem;
  }
  main.contact .formulaireContact .form1 .check p {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  main.contact .formulaireContact .form1 a {
    margin-top: 5%;
    font-size: 0.7rem;
  }
  main.contact .faq h2 {
    font-size: 1.4rem;
  }
  main.contact .faq .questionsFaq {
    text-align: center;
    font-size: 1.1rem;
  }
  main.contact .faq p {
    font-size: 0.9rem;
  }
  footer nav a img {
    width: 80%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */