// Variables
:root{
    --firstColor:#000000;
    --secondColor:#fff;
    --thirdColor: #2c8ec7;
    --fourthColor:##000000e6;
}

// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--firstColor);
}
a,
i,
img{
    display: block;
}
.center{
    width: 80%;
    margin: 0 auto;
}

// Header
header{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    nav{
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 50%;
        margin: 0 auto;
        padding: 0.5rem 0;
        margin-top: 2rem;
        border-radius: 10rem;
        background-color: var(--fourthColor);
        backdrop-filter: blur(0.5rem);
        box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
        .menu{
            display: none;
        }
        .logo{
            margin: 0 1rem;
        }
        a{
            color: var(--secondColor);
            font-size: 2rem;
            font-family: aladin,sans-serif;
            transition: .5s all;
            &:hover{
                transform: scale(1.2);
            }
            span{
                color: var(--thirdColor) ;
            }
        }
    
        i{
            color: var(--secondColor);
            font-size: 2rem;
            opacity: 0.6;
        }
        ul{
            font-size: 0;
            display: flex;
            gap: 2rem;
            li{
                a{
                    font-size: 1.5rem;
                    &:hover{
                        color: var(--thirdColor);
                    }
                }
            }
        }
    }
}

// Main - Index page
main.index{
    section{
        margin-top: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        color: var(--secondColor);
        .text{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 45%;
            text-align: center;
            h2{
            font-size:  2rem
            }
            a{
                color: var(--secondColor);
                background-color: var(--thirdColor);
                width: max-content;
                margin: 0 auto;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                transition: .5s all;
                justify-self: center;
                animation: neon 3s infinite linear;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .image{
            width: 40%;
            img{
                animation: plane 5s infinite linear;
                width: 100%;
                filter: drop-shadow(0 0 0.5rem var(--secondColor));
            }
        }
    }
    section.reverse{
        flex-direction: row-reverse;
    }
}
// Main - Prestations page


.prestations {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    section {
        color: var(--secondColor);
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
            font-size: 2rem;       
        }
        a {
            text-transform: uppercase;
            color: var(--secondColor);
            background-color: var(--thirdColor);
            width: max-content;
            margin: 0 auto;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            transition: .5s all;
            justify-self: center;
            animation: neon 3s infinite linear;
            &:hover{
                transform: scale(1.1);
            }
        }
        
    }
}
    

//  Main - Portfolio page
main.portfolio{
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;
        .textAndCarousel{
            display: flex;
            gap: 5%;
            align-items: center;
            .text{
                width: 50%;
                text-align: center; 
                align-items: center;
                h2, p{
                    color: var(--secondColor);
                }
                h2{
                font-size: 40px;
                }
                p{
                font-size: 19px;
                margin-top: 5%;
                }
                .technologie{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                }
                .iconify{
                margin-top: 5%;
                font-size: 50px;  
                }
            } 
        }
        a{
            margin-top: 2%;
        }
// Carousel 
// Variable
$n: 8;
$item-width: 400px;
$item-separation: 80px;
$viewer-distance: 500px;
$theta: 2 * 3.141592653589793 / $n; 
$apothem: 482.842712474619px;

.carousel {
	padding: 20px;
	perspective: $viewer-distance;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		transform-origin: 50% 50% (-$apothem);		
		img {
			width: 100%;
			box-sizing: border-box;
			padding: 0 $item-separation / 2;
			opacity: 0.9;
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
				transform-origin: 50% 50% (-$apothem);
			}
			
			@for $i from 2 through $n {
				&:nth-child(#{$i}) {
					transform: rotateY(#{($i - 1) * $theta}rad);
				}
			}
		}
	}
	
	.carouselBtn {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
			cursor: pointer;
			color: var(--secondColor);
			background: none;
			border: 2px solid var(--thirdColor);
            border-radius: 1.5rem;
			letter-spacing: 1px;
			padding: 5px 10px;
            transition: .5s all;
            &:hover{
                transform: scale(1.1);
            }
		}
	}
	
}
    }
    a{
        color: var(--secondColor);
        background-color: var(--thirdColor);
        width: max-content;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        transition: .5s all;
        justify-self: center;
        animation: neon 3s infinite linear;
        &:hover{
            transform: scale(1.1);
        }
        }

    .anime{
        margin-top: 10%;
        align-items: center;
        display: flex;
        justify-content: center;
        .globe{
            animation: globe 10s infinite linear;
            width: 15%;
            margin: 0 auto;

        } 
    } 
}

//  Main - Contact
main.contact.center{
    margin-right: 8rem;
    color: var(--secondColor);
    p{
        font-size: 1.5rem;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20% 0 10% 0;
        div.image{
          padding: 0 auto;
        }
        .text{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }
    }
    div.contact1{
        display: flex;
        .imagecontact1{
            width: 80%;
            img{
                width: 100%;
                height: 90%;
            }
        }
        .form{
            margin-right: 1rem;
            width: 70%;
            fieldset{
            border: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            p{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            input{
                outline: none;
                padding: 2%;
                background-color: var(--firstColor);
                border-radius: 20px;
                border: solid var(--thirdColor);
                height: 1.9rem;
                width: 70%;
                display: block;
                margin: 0 auto;
                color: var(--secondColor);
                font-size: 1rem;
            }
           textarea#message{
                outline: none;
                padding: 1%;
                margin: 0 auto;
                width: 70%;
                height: 95%;
                background-color: var(--firstColor);
                color: var(--secondColor);
                font-size: 1.2rem;
                border: solid var(--thirdColor);
                border-radius: 1rem;
            }
            div.check{
                display: flex;
                align-items: center;
                padding: 0 5.5rem;
            
                input{
                    width: 1.8rem;
                }
                p.check{
                    font-size: 0.9rem;
                }
            }
            .send{
                width: 25%;
            }
            a{
                text-transform: uppercase;
                color: var(--secondColor);
                background-color: var(--thirdColor);
                width: max-content;
                margin: 0 auto;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                transition: .5s all;
                justify-self: center;
                animation: neon 3s infinite linear;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
    .titre{
        margin-bottom: 4rem;
    }
    .questions{ 
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: left;
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            color: var(--thirdColor);
        }
    }
}
//faq
.titre{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 32px;
        color: var(--secondColor);
    }
    .ligne{
        display: block;
        width: 60%;
        padding: 1.5px;
        background-color: var(--thirdColor);
    }
}
//Questions
// Footer
footer{
    margin-top: 8%;
    color: var(--secondColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    nav{
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 0 auto;
        border-radius: 10rem;
        background-color: var(--fourthColor);
        box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
        padding: 0.5rem 0;
        margin-bottom: 2rem;
        a{
            filter: drop-shadow(0 0 0.5rem var(--secondColor));
            animation: neon-2 4s infinite linear;
            &:hover{
                animation:none;
            }
        }
    }
}

// Keyframes
@keyframes plane {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }   
}
@keyframes neon {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 0.8rem 0 var(--secondColor);
    }
    100%{
        box-shadow: none;
    }
}
@keyframes neon-2 {
    0%{
        filter: drop-shadow(0 0 0 0rem);
    }
    50%{
        filter: drop-shadow(0 0 0 0 var(--secondColor)); 
    }
    100%{
        filter: drop-shadow(0 0 0 0rem);
        }
}
// Keyframs Page Portfolio
@keyframes globe {
        0%{ 
        transform: translateX(0) rotate(0);
    }
        25%{
        transform: translateX(40vw) rotate(720deg);
    }
        75%{
        transform: translateX(-40vw) rotate(-720deg);
    }
}
// Media queries page Index
@media screen and (max-width:940px) {
    // Header
    header{
            nav{
                min-width: 10rem;
                a{
                    font-size: 1.2rem;
                }
                ul{
                    position: absolute;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    transform: translateY(-10rem);
                    transition: 1s all;
                    width: max-content;
                    border-radius: 1rem;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    border: 1px solid var(--thirdColor);
                    background-color: #000000e6;
                    backdrop-filter: blur(0.5rem);
                    box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
                    li{
                        a{
                            color: var(--thirdColor);
                            font-size: 1.2rem;
                        }
                    }
                }
                .menu{
                    display: block;
                    p{
                        color:var(--secondColor);
                        font-family: aladin,sans-serif;
                        font-size: 1.1rem;
                        cursor: pointer;
                        transition: .5s all;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .active{
                .menu {
                    p{
                        color: var(--thirdColor);
                    }
                }
                ul{
                    transform: translateY(7.5rem);
                }
            }
        }
        // Main
        main.index{
            section, section.reverse{
                flex-direction: column-reverse;
                margin-top: 20%;
                .text{
                    width: 80%;
                    h2{
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    a{
                        font-size: 0.8rem;
                    }
                }
            }
        }
// Media Queries Page Prestations
        main.prestations {
            h2 {
                font-size: 1.5rem;
            }
            a {
                font-size: 0.8rem;
            }
        }
        // Footer
        footer{
            min-width: 10rem;
            a{
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
}

// Media Queries Page Portfolio
@media screen and (max-width:940px){
    main.portfolio {
        section{
            flex-direction: column;
            .textAndCarousel{
                flex-direction: column;
                .text{
                    width: 90%;
                    p{
                        font-size: 16px;  
                    }
                    h2{
                        font-size: 1.5rem;
                    }
                    .iconify{
                        font-size: 25px;
                    }
                }
                .carousel{
                    width: 100%;
                    margin-bottom: 10%;
                    figure{
                        img{
                        opacity: 1;
                        }
                    }
                }
            }
            .reverse-2{
            flex-direction: column-reverse;
        } 
            a{
                font-size: 0.8rem;
            }
        }
    }
}
// Media Queries Page Contact
main.contact{
    section{
        display: flex;
        flex-direction: column;
    }
    .contact1{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imagecontact1 img{
        width:100%;
        }
    }
}
