// Variables
:root {
    --firstColor: #000000;
    --secondColor: #fff;
    --thirdColor: #2c8ec7;
    --fourthColor: ##000000e6;
}

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--firstColor);
}

a,
i,
img {
    display: block;
}

.center {
    width: 80%;
    margin: 0 auto;
}

// Header
header {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;

    nav {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 50%;
        margin: 0 auto;
        padding: 0.5rem 0;
        margin-top: 2rem;
        border-radius: 10rem;
        background-color: var(--fourthColor);
        backdrop-filter: blur(0.5rem);
        box-shadow: 0 0 1rem 0.4rem var(--thirdColor);

        .menu {
            display: none;
        }

        .logo {
            margin: 0 1rem;
        }

        a {
            color: var(--secondColor);
            font-size: 2rem;
            font-family: aladin, sans-serif;
            transition: .5s all;

            &:hover {
                transform: scale(1.2);
            }

            span {
                color: var(--thirdColor);
            }
        }

        i {
            color: var(--secondColor);
            font-size: 2rem;
            opacity: 0.6;
        }

        ul {
            font-size: 0;
            display: flex;
            gap: 2rem;

            li {
                a {
                    font-size: 1.2rem;

                    &:hover {
                        color: var(--thirdColor);
                    }
                }
            }
        }
    }
}

// Main - Index page
main.index {
    section {
        margin-top: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        color: var(--secondColor);

        .text {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 45%;
            text-align: center;

            h2 {
                font-size: 2rem
            }

            a {
                color: var(--secondColor);
                background-color: var(--thirdColor);
                width: max-content;
                margin: 0 auto;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                transition: .5s all;
                justify-self: center;
                animation: neon 3s infinite linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .image {
            width: 40%;

            img {
                animation: plane 5s infinite linear;
                width: 100%;
                filter: drop-shadow(0 0 0.5rem var(--secondColor));
            }
        }
    }

    section.reverse {
        flex-direction: row-reverse;
    }
}

// Main - Prestations page
.prestations {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    section {
        color: var(--secondColor);
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            font-size: 2rem;
            text-align: center;
        }

        img {
            border-radius: 1.5rem;
        }

        a {
            text-transform: uppercase;
            color: var(--secondColor);
            background-color: var(--thirdColor);
            width: max-content;
            margin: 0 auto;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            transition: .5s all;
            justify-self: center;
            animation: neon 3s infinite linear;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    .clients {
        h2 {
            width: 80%;
            border-bottom: 1px solid var(--thirdColor);
            margin: 0 auto;
        }

        .bloc {
            display: flex;
            gap: 2.5rem;

            .commentaire {
                border: 0.1rem solid #2c8ec7;
                ;
                border-radius: 1.5rem;
                padding: 0.8rem;
                width: 50%;
                margin: 0 auto;
                font-family: Arial, sans-serif;
                transition: .5s all;
                animation: neon 3s infinite linear;

                &:hover {
                    transform: scale(1.1);
                }

                .auteur {
                    font-weight: bold;
                    margin-bottom: 0.2rem;
                }

                .note {
                    display: inline-block;
                    color: gold;
                }

                .photo {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    margin-right: 0.8rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

//  Main - Portfolio page
main.portfolio {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;

        .textAndCarousel {
            display: flex;
            gap: 5%;
            justify-content: center;
            align-items: center;

            .text {
                width: 50%;
                text-align: center;
                align-items: center;

                h2,
                p {
                    color: var(--secondColor);
                }

                h2 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 5%;
                }

                .technologie {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 5%;
                }

                .iconify {
                    margin-top: 5%;
                    font-size: 2.5rem;
                }
            }
        }

        a {
            color: var(--secondColor);
            background-color: var(--thirdColor);
            width: max-content;
            margin: 2% auto 0;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            transition: .5s all;
            justify-self: center;
            animation: neon 3s infinite linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .anime {
        margin-top: 10%;
        align-items: center;
        display: flex;
        justify-content: center;

        .globe {
            animation: globe 10s infinite linear;
            width: 15%;
            margin: 0 auto;
        }
    }
}

// Variables parameters carrousel
$n: 8;
$item-width: 400px;
$item-separation: 80px;
$viewer-distance: 500px;
$theta: 2 * 3.141592653589793 / $n;
$apothem: 482.842712474619px;

// Carrousel
.carousel {
    padding: 20px;
    perspective: $viewer-distance;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    >* {
        flex: 0 0 auto;
    }

    figure {
        margin: 0;
        width: $item-width;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        transform-origin: 50% 50% (-$apothem);

        img {
            width: 100%;
            box-sizing: border-box;
            padding: 0 $item-separation / 2;
            opacity: 0.9;

            &:not(:first-of-type) {
                position: absolute;
                left: 0;
                top: 0;
                transform-origin: 50% 50% (-$apothem);
            }

            @for $i from 2 through $n {
                &:nth-child(#{$i}) {
                    transform: rotateY(#{($i - 1) * $theta}rad);
                }
            }
        }
    }

    .carouselBtn {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;

        button {
            flex: 0 0 auto;
            margin: 0 5px;
            cursor: pointer;
            color: var(--secondColor);
            background: none;
            border: 2px solid var(--thirdColor);
            border-radius: 1.5rem;
            letter-spacing: 1px;
            padding: 5px 10px;
            transition: .5s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

//  Main - Contact
main.contact {
    .icon {
        margin: 20% 0 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 10rem;
            animation: plane 10s infinite linear;
        }

        .text {
            color: var(--secondColor);
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 1rem;

            p {
                i {
                    color: var(--thirdColor);
                    font-size: 2rem;
                    margin-right: 1%;
                }
            }
        }
    }

    .formulaireContact {
        display: flex;
        justify-content: center;
        gap: 5rem;
        width: 90%;
        margin: 0 auto;

        .form1 {
            width: 40%;
            color: var(--secondColor);

            p {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            input {
                border-radius: 1rem;
                background-color: var(--firstColor);
                border: solid var(--thirdColor);
                outline: none;
                color: var(--secondColor);
                font-size: 1.2rem;
                padding: 0.7rem;
                width: 80%;
                margin: 0 auto 3%;
            }

            textarea#message {
                background-color: var(--firstColor);
                color: var(--secondColor);
                border: solid var(--thirdColor);
                outline: none;
                font-size: 1.2rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                padding: 0.7rem;
            }

            .check {
                display: flex;
                align-items: center;
                margin: 3% 0;
                gap: 3%;

                input {
                    width: 5%;
                    margin: 0;
                }

                p {
                    text-align: left;
                }
            }

            a {
                color: var(--secondColor);
                background-color: var(--thirdColor);
                width: max-content;
                margin: 0 auto;
                padding: 0.5rem 2rem;
                border-radius: 1rem;
                transition: .5s all;
                justify-self: center;
                animation: neon 3s infinite linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .faq {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        text-align: center;

        h2 {
            font-size: 2.5rem;
            color: var(--secondColor);
        }

        .ligne {
            display: block;
            width: 60%;
            height: 0.1rem;
            background-color: var(--thirdColor);
            margin: 0 auto;
        }

        .questionsFaq {
            margin-top: 4rem;
            font-size: 1.5rem;
            color: var(--secondColor);
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
            color: var(--thirdColor);
            width: 60%;
            margin: 0 auto;
        }
    }
}

// Footer
footer {
    color: var(--secondColor);
    display: flex;
    width: 100%;
    margin: 5% auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    nav {
        display: flex;
        width: 50%;
        justify-content: space-around;
        border-radius: 10rem;
        background-color: var(--fourthColor);
        box-shadow: 0 0 1rem 0.4rem var(--thirdColor);
        padding: 0.5rem 0;
        margin-bottom: 2rem;

        a {
            filter: drop-shadow(0 0 0.5rem var(--secondColor));
            animation: neon-2 4s infinite linear;

            &:hover {
                animation: none;
            }
        }
    }
}

// Keyframes
@keyframes plane {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes neon {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 0.8rem 0 var(--secondColor);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes neon-2 {
    0% {
        filter: drop-shadow(0 0 0 0rem);
    }

    50% {
        filter: drop-shadow(0 0 0 0 var(--secondColor));
    }

    100% {
        filter: drop-shadow(0 0 0 0rem);
    }
}

// Keyframs Page Portfolio
@keyframes globe {
    0% {
        transform: translateX(0) rotate(0);
    }

    25% {
        transform: translateX(40vw) rotate(720deg);
    }

    75% {
        transform: translateX(-40vw) rotate(-720deg);
    }
}

// Media queries page Index
@media screen and (max-width:940px) {

    html {
        font-size: 16px
    }

    // Header
    header {
        nav {
            min-width: 10rem;

            a {
                font-size: 1.2rem;
            }

            ul {
                position: absolute;
                z-index: 2;
                display: flex;
                flex-direction: column;
                transform: translateY(-10rem);
                transition: 1s all;
                width: max-content;
                border-radius: 1rem;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                border: 1px solid var(--thirdColor);
                background-color: #000000e6;
                backdrop-filter: blur(0.5rem);
                box-shadow: 0 0 1rem 0.4rem var(--thirdColor);

                li {
                    a {
                        color: var(--thirdColor);
                        font-size: 1.2rem;
                    }
                }
            }

            .menu {
                display: block;

                p {
                    color: var(--secondColor);
                    font-family: aladin, sans-serif;
                    font-size: 1.1rem;
                    cursor: pointer;
                    transition: .5s all;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .active {
            .menu {
                p {
                    color: var(--thirdColor);
                }
            }

            ul {
                transform: translateY(7.5rem);
            }
        }
    }

    // Main
    main.index {

        section,
        section.reverse {
            flex-direction: column-reverse;
            margin-top: 20%;

            .text {
                width: 80%;

                h2 {
                    font-size: 1.5rem;
                    text-align: center;
                }

                a {
                    font-size: 0.8rem;
                }
            }
        }
    }

    // Media Queries Page Prestations
    main.prestations {
        h2 {
            font-size: 1.5rem;
        }

        a {
            font-size: 0.8rem;
        }

        .clients .bloc {
            flex-direction: column;

            .commentaire {
                width: 80%;
            }
        }
    }

    // Media Queries Page Portfolio
    main.portfolio {
        section {
            flex-direction: column;

            .textAndCarousel {
                flex-direction: column;

                .text {
                    width: 90%;

                    h2 {
                        font-size: 1.5rem;
                    }

                    .iconify {
                        font-size: 25px;
                    }
                }

                .carousel {
                    width: 100%;
                    margin-bottom: 10%;

                    figure {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            .reverse-2 {
                flex-direction: column-reverse;
            }

            a {
                font-size: 0.8rem;
            }
        }
    }

    // Media Queries Page Contact
    main.contact {
        section.icon {
            display: flex;
            flex-direction: column;
            text-align: center;

            img {
                width: 40%;
                margin: 0 auto;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .formulaireContact {
            display: flex;
            flex-direction: column;

            img {
                margin: 0 auto;
                width: 60%;
            }

            .form1 {
                margin: 0 auto;
                width: 100%;

                p {
                    font-size: 0.8rem;
                    margin-bottom: 2rem;
                }

                input {
                    font-size: 1rem;
                    height: 1rem;
                }

                textarea#message {
                    height: 10rem;
                }

                .check {
                    p {
                        margin-bottom: 0;
                        font-size: 0.8rem;
                    }
                }

                a {
                    margin-top: 5%;
                    font-size: 0.7rem;
                }
            }
        }

        .faq {
            h2 {
                font-size: 1.4rem;
            }

            .questionsFaq {
                text-align: center;
                font-size: 1.1rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    // Footer
    footer {
        nav{
            a {
                img{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}